<div class="mobile-albums-inner-main">
    <div class="mobile-albums-new-release">
        <div class="new-release-heading">
            <h2>the best <br>new release</h2>
        </div>
        <div class="mobile-albums-list-carousel">
            <div class="mobile-albums-list-item">
                <div class="albums-item-image">
                    <img src="../static/assets/images/sia-album.jpg" alt="singer_image">
                </div>
                <div class="albums-item-text">
                    <h2>i'm still here</h2>
                    <h4>Sia</h4>
                </div>
            </div>
            <div class="mobile-albums-list-item">
                <div class="albums-item-image">
                    <img src="../static/assets/images/img1.jpeg" alt="singer_image">
                </div>
                <div class="albums-item-text">
                    <h2>i'm still here</h2>
                    <h4>Sia</h4>
                </div>
            </div>
            <div class="mobile-albums-list-item">
                <div class="albums-item-image">
                    <img src="../static/assets/images/img1.jpeg" alt="singer_image">
                </div>
                <div class="albums-item-text">
                    <h2>i'm still here</h2>
                    <h4>Sia</h4>
                </div>
            </div>
            <div class="mobile-albums-list-item">
                <div class="albums-item-image">
                    <img src="../static/assets/images/img1.jpeg" alt="singer_image">
                </div>
                <div class="albums-item-text">
                    <h2>i'm still here</h2>
                    <h4>Sia</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- New Albums and Singers -->
    <div class="mobile-albums-new-release pt-2">
        <div class="new-release-heading">
            <h2>New Albums & Singers</h2>
        </div>
        <div class="new-album-and-singers-list">
            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/img1.jpeg" alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>
            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/sia-album.jpg"
                    alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>
            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/img1.jpeg" alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>
            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/sia-album.jpg"
                    alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>
            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/sia-album.jpg"
                    alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>
            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/sia-album.jpg"
                    alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>
            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/img1.jpeg" alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>
            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/sia-album.jpg"
                    alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>

            <div class="mobile-albums-list-item-for-singers">
                <img class="albums-item-image-for-singer" src="../static/assets/images/sia-album.jpg"
                    alt="singer_image">
                <div class="singer-share-item-text">
                    <h2>I am still here</h2>
                    <h4>Sia</h4>
                </div>
                <div class="singer-share-items">
                    <h2>22.69</h2>
                    <span><i class="fa-solid fa-share-nodes"></i></span>
                </div>
            </div>
        </div>
    </div>

</div>