<div class="albums-tabs-container">

    <div class="albums-tabs">
        <div>
            <h4>overview</h4>
        </div>
        <div>
            <h4>podcasts</h4>
        </div>
        <div>
            <h4>charts</h4>
        </div>
        <div>
            <h4>discover</h4>
        </div>
        <div>
            <h4>new releases</h4>
        </div>
        <div>
            <h4>genres & moods</h4>
        </div>

        <div>
            <h4>concerts</h4>
        </div>
    </div>
</div>