<div class="artist-profile-upper">
    <div class="artist-profile-title">
        <h2>Sia</h2>
        <div class="rating">
            <span><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i></span>
            <span><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i></span>
            <span><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i></span>
            <span><i class="fa-solid fa-star xl:text-[14px] text-slate-500"></i></span>
            <span><i class="fa-solid fa-star xl:text-[14px] text-slate-500"></i></span>
        </div>
    </div>
    <div class="artist-profile-image bg-[url('../static/assets/images/girl-with-light-2.jpg')]"></div>
    <div class="artist-profile-description">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis placeat voluptas unde. Voluptatum rerum
            possimus nam nemo assumenda mollitia adipisci?</p>
        <button class="artist-profile-view-more-btn">view more</button>
    </div>
</div>