<div class="mobile-bottom-controls">
    <!-- <button class="stopBtn">
            <i class="fa fa-stop" aria-hidden="true"></i>
          </button> -->
    <div class="control-buttons-container">
        <button class="shuffleBtn">
            <i class="fa fa-shuffle text-[20px]" aria-hidden="true"></i>
        </button>
        <button class="previousBtn">
            <i class="fa fa-backward-step text-[20px]" aria-hidden="true"></i>
        </button>
        <button class="playBtn flex justify-center items-center p-3" x-on:click="controls = false"
            x-bind:class="controls ? '': 'hidden' ">
            <i class="fa-solid fa-play text-[24px] ml-[3px]" aria-hidden="true"></i>
        </button>
        <button class="pauseBtn flex justify-center items-center p-3" x-on:click="controls = true"
            x-bind:class="controls ? 'hidden': '' ">
            <i class="fa fa-pause text-[24px]" aria-hidden="true"></i>
        </button>
        <button class="nextBtn">
            <i class="fa fa-forward-step text-[20px]" aria-hidden="true"></i>
        </button>
        <button class="repeatBtn">
            <i class="fa fa-repeat text-[20px]" aria-hidden="true"></i>
        </button>
    </div>
</div>