<div class="albums-playlist" id="albums-bottom-section">
  <div class="albums-playlist-body sticky top-0">
    <div>
      <ul id="tabs" class="flex">
        <li class="mr-4">
          <a
            href="#"
            class="text-[#c0c0c0] font-semibold cursor-pointer active-tab"
            data-tab="overview"
            >OVERVIEW</a
          >
          <div class="active">
            <hr
              class="w-[45px] h-[2px] mx-auto bg-white border-0 rounded mt-2"
            />
          </div>
        </li>
        <li class="mr-4">
          <a
            href="#"
            class="text-[#c0c0c0] font-semibold cursor-pointer"
            data-tab="sad-songs"
            >SAD SONGS</a
          >
          <div class="active"></div>
        </li>
        <li class="mr-4">
          <a
            href="#"
            class="text-[#c0c0c0] font-semibold cursor-pointer"
            data-tab="romantic-songs"
            >ROMANTIC SONGS</a
          >
          <div class="active"></div>
        </li>
        <li class="mr-4">
          <a
            href="#"
            class="text-[#c0c0c0] font-semibold cursor-pointer"
            data-tab="heartbreaks"
            >HEARTBREAKS</a
          >
          <div class="active"></div>
        </li>
        <li class="mr-4">
          <a
            href="#"
            class="text-[#c0c0c0] font-semibold cursor-pointer"
            data-tab="angry-mood"
            >ANGRY MOOD</a
          >
          <div class="active"></div>
        </li>
        <li class="mr-4">
          <a
            href="#"
            class="text-[#c0c0c0] font-semibold cursor-pointer"
            data-tab="joyful"
            >JOYFUL</a
          >
          <div class="active"></div>
        </li>
        <!-- Add more tabs as needed -->
      </ul>
    </div>

    <div class="pr-4">
      <hr
        class="w-[580px] pr-96 h-[2px] mx-auto bg-gray-100 border-0 rounded md:mt-7 dark:bg-gray-700"
      />
    </div>
  </div>
  <div>
    <div class="flex flex-row justify-end w-[85vw] gap-2 mt-12">
      <div
        class="basis-4/6 bg-transparent ml-52 flex justify-top w-[100%] h-[115px]"
      >
        <div
          class="flex flex-col justify-center items-start text-white text-[18px] font-semibold"
        >
          <h1>Albums</h1>
          <h1>Best Release</h1>
        </div>
      </div>

      <div class="mobile-albums-new-release">
        <div class="mobile-albums-list-carousel">
          <div class="basis-2/6 bg-transparent">
            <div class="album-upper-image border-none rounded-full">
              <img
                src="../static/assets/images/img1.jpeg"
                class="best-release-img"
                alt="singer_image"
              />
            </div>
            <h2 class="album-upper-name">Lorem ipsum dolor sit amet.</h2>
            <h3 class="album-upper-artist">Lorem ipsum dolor.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Playlists -->
  <div>
    <div class="flex flex-row justify-end w-[85vw] gap-2 mt-12">
      <div
        class="basis-4/6 bg-transparent ml-52 flex justify-top w-[100%] h-[115px]"
      >
        <div
          class="flex flex-col justify-center items-start text-white text-[18px] font-semibold"
        >
          <h1>The Best</h1>
          <h1>Playlists</h1>
        </div>
      </div>

      <div class="mobile-albums-new-release">
        <div class="mobile-albums-list-carousel">
          <div class="basis-2/6 bg-transparent">
            <div class="album-upper-image-playlist border-none rounded-full">
              <img
                src="../static/assets/images/img1.jpeg"
                class="best-release-img"
                alt="singer_image"
              />
            </div>
            <h2 class="album-upper-name-playlist">
              Lorem ipsum dolor sit amet.
            </h2>
            <h3 class="album-upper-artist-playlist">Lorem ipsum dolor.</h3>
          </div>
          <div class="basis-2/6 bg-transparent">
            <div class="album-upper-image-playlist border-none rounded-full">
              <img
                src="../static/assets/images/img1.jpeg"
                class="best-release-img"
                alt="singer_image"
              />
            </div>
            <h2 class="album-upper-name-playlist">
              Lorem ipsum dolor sit amet.
            </h2>
            <h3 class="album-upper-artist-playlist">Lorem ipsum dolor.</h3>
          </div>
          <div class="basis-2/6">
            <div class="album-upper-image-playlist">
              <img
                src="../static/assets/images/img2.jpeg"
                class="best-release-img"
                alt="singer_image"
              />
            </div>
            <h2 class="album-upper-name-playlist">
              Lorem ipsum dolor sit amet.
            </h2>
            <h3 class="album-upper-artist-playlist">Lorem ipsum dolor.</h3>
          </div>
          <div class="basis-2/6">
            <div class="album-upper-image-playlist">
              <img
                src="../static/assets/images/img3.jpeg"
                class="best-release-img"
                alt="singer_image"
              />
            </div>
            <h2 class="album-upper-name-playlist">
              Lorem ipsum dolor sit amet.
            </h2>
            <h3 class="album-upper-artist-playlist">Lorem ipsum dolor.</h3>
          </div>
          <div class="basis-2/6">
            <div class="album-upper-image-playlist">
              <img
                src="../static/assets/images/img4.jpeg"
                class="best-release-img"
                alt="singer_image"
              />
            </div>
            <h2 class="album-upper-name-playlist">
              Lorem ipsum dolor sit amet.
            </h2>
            <h3 class="album-upper-artist-playlist">Lorem ipsum dolor.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="flex flex-row justify-end w-[85vw] gap-2 mt-12">
      <div
        class="basis-4/6 bg-transparent ml-52 flex justify-top w-[100%] h-[115px]"
      >
        <div
          class="flex flex-col justify-center items-start text-white text-[18px] font-semibold"
        >
          <h1>Top Rated</h1>
          <h1>Artists</h1>
        </div>
      </div>

      <div class="mobile-albums-new-release">
        <div class="mobile-albums-list-carousel">
          <div class="basis-2/6">
            <div class="upper-image-artist">
              <img
                src="../static/assets/images/img3.jpeg"
                class="best-release-img-artists"
                alt="singer_image"
              />
            </div>
            <h2 class="upper-name-artist">Lorem ipsum dolor sit amet.</h2>
            <h3 class="upper-artist-title">Artist</h3>
          </div>
          <div class="basis-2/6">
            <div class="upper-image-artist">
              <img
                src="../static/assets/images/img4.jpeg"
                class="best-release-img-artists"
                alt="singer_image"
              />
            </div>
            <h2 class="upper-name-artist">Lorem ipsum dolor sit amet.</h2>
            <h3 class="upper-artist-title">Artist</h3>
          </div>
          <div class="basis-2/6">
            <div class="upper-image-artist">
              <img
                src="../static/assets/images/img3.jpeg"
                class="best-release-img-artists"
                alt="singer_image"
              />
            </div>
            <h2 class="upper-name-artist">Lorem ipsum dolor sit amet.</h2>
            <h3 class="upper-artist-title">Artist</h3>
          </div>
          <div class="basis-2/6">
            <div class="upper-image-artist">
              <img
                src="../static/assets/images/img4.jpeg"
                class="best-release-img-artists"
                alt="singer_image"
              />
            </div>
            <h2 class="upper-name-artist">Lorem ipsum dolor sit amet.</h2>
            <h3 class="upper-artist-title">Artist</h3>
          </div>
          <div class="basis-2/6">
            <div class="upper-image-artist">
              <img
                src="../static/assets/images/img3.jpeg"
                class="best-release-img-artists"
                alt="singer_image"
              />
            </div>
            <h2 class="upper-name-artist">Lorem ipsum dolor sit amet.</h2>
            <h3 class="upper-artist-title">Artist</h3>
          </div>
          <div class="basis-2/6">
            <div class="upper-image-artist">
              <img
                src="../static/assets/images/img4.jpeg"
                class="best-release-img-artists"
                alt="singer_image"
              />
            </div>
            <h2 class="upper-name-artist">Lorem ipsum dolor sit amet.</h2>
            <h3 class="upper-artist-title">Artist</h3>
          </div>
          <div class="basis-2/6">
            <div class="upper-image-artist">
              <img
                src="../static/assets/images/img3.jpeg"
                class="best-release-img-artists"
                alt="singer_image"
              />
            </div>
            <h2 class="upper-name-artist">Lorem ipsum dolor sit amet.</h2>
            <h3 class="upper-artist-title">Artist</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-10">
    <div class="flex flex-row flex-wrap w-[50vw] gap-2">
      <div class="text-white text-[18px] font-semibold mb-2 w-[50vw]">
        <h1>New Release Songs</h1>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img1.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">amet.</h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>

      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img2.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img3.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img4.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img1.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>

      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img4.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img1.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img2.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img3.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img4.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img1.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>

      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img4.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img1.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>

      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img3.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="album-img-container">
          <img
            src="../static/assets/images/img4.jpeg"
            class="album-img"
            alt="singer_image"
          />
        </div>
        <div class="max-w-[130px]">
          <h2 class="font-poppinsRegular text-white text-[12px] mt-2">
            Lorem ipsum dolor sit amet.
          </h2>
          <h3 class="text-[#c0c0c0] text-[11px]">Lorem ipsum dolor.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function displayNewArtist(searchMethod) {
    document
      .querySelectorAll(".upper-name-artist")
      .forEach((element, index) => {
        if (
          searchMethod.artists.items[index] &&
          searchMethod.artists.items[index].name
        ) {
          let artistName = searchMethod.artists.items[index].name;
          if (artistName.length > 30) {
            artistName = artistName.substring(0, 27) + "...";
          }
          element.innerHTML = artistName;
        }
      });
    document
      .querySelectorAll(".upper-image-artist")
      .forEach((element, index) => {
        if (
          searchMethod.artists.items[index] &&
          searchMethod.artists.items[index].images &&
          searchMethod.artists.items[index].images[0] &&
          searchMethod.artists.items[index].images[0].url
        ) {
          element.innerHTML = `<img src="${searchMethod.artists.items[index].images[0].url}" class="best-release-img-artists" alt="singer_image">`;
        }
      });
  }

  function displayNewPlaylist(searchMethod) {
    document
      .querySelectorAll(".album-upper-artist-playlist")
      .forEach((element, index) => {
        let artistNames = "";
        if (
          searchMethod.playlists.items[index] &&
          searchMethod.playlists.items[index].owner &&
          searchMethod.playlists.items[index].owner.display_name
        ) {
          artistNames = searchMethod.playlists.items[index].owner.display_name;
        }
        element.innerHTML = artistNames;
      });
    document
      .querySelectorAll(".album-upper-artist-playlist")
      .forEach((element, index) => {
        if (
          searchMethod.playlists.items[index] &&
          searchMethod.playlists.items[index].name
        ) {
          let playlistName = searchMethod.playlists.items[index].name;
          if (playlistName.length > 30) {
            playlistName = playlistName.substring(0, 27) + "...";
          }
          element.innerHTML = playlistName;
        }
      });
    document
      .querySelectorAll(".album-upper-image-playlist")
      .forEach((element, index) => {
        if (
          searchMethod.playlists.items[index] &&
          searchMethod.playlists.items[index].images &&
          searchMethod.playlists.items[index].images[0] &&
          searchMethod.playlists.items[index].images[0].url
        ) {
          element.innerHTML = `<img src="${searchMethod.playlists.items[index].images[0].url}" class="best-release-img" alt="singer_image">`;
        }
      });
  }

  function displayNewAlbum(searchMethod) {
    document.querySelectorAll(".album-upper-name").forEach((element, index) => {
      if (
        searchMethod.albums.items[index] &&
        searchMethod.albums.items[index].name
      ) {
        let albumName = searchMethod.albums.items[index].name;
        if (albumName.length > 30) {
          albumName = albumName.substring(0, 27) + "...";
        }
        element.innerHTML = albumName;
      }
    });
    document
      .querySelectorAll(".album-upper-image")
      .forEach((element, index) => {
        if (
          searchMethod.albums.items[index] &&
          searchMethod.albums.items[index].images &&
          searchMethod.albums.items[index].images[0] &&
          searchMethod.albums.items[index].images[0].url
        ) {
          element.innerHTML = `<img src="${searchMethod.albums.items[index].images[0].url}" class="best-release-img" alt="singer_image">`;
        }
      });

    document
      .querySelectorAll(".album-upper-artist")
      .forEach((element, index) => {
        let artistNames = "";
        if (
          searchMethod.albums.items[index] &&
          searchMethod.albums.items[index].artists
        ) {
          artistNames = searchMethod.albums.items[index].artists
            .map((artist) => artist.name)
            .join(", ");
          if (artistNames.length > 18) {
            artistNames = artistNames.substring(0, 18) + "...";
          }
        }
        element.innerHTML = artistNames;
      });
  }

  function displayNewReleases(newReleases) {
    const randomNumber = Math.floor(Math.random() * 40) + 1;
    document
      .querySelectorAll(".album-upper-image")
      .forEach((singleImage, index) => {
        const album = newReleases.albums.items[index + randomNumber];
        if (album && album.images && album.images.length > 0) {
          singleImage.innerHTML = `<img src="${album.images[0].url}" class="best-release-img" alt="singer_image">`;
        }
      });
    document.querySelectorAll(".album-upper-name").forEach((name, index) => {
      let albumName = "";
      if (
        newReleases.albums.items[index + randomNumber] &&
        newReleases.albums.items[index + randomNumber].name
      ) {
        albumName = newReleases.albums.items[index + randomNumber].name;
        if (albumName.length > 30) {
          albumName = albumName.substring(0, 30) + "...";
        }
      }
      name.innerHTML = albumName;
    });

    document
      .querySelectorAll(".album-upper-artist")
      .forEach((artist) => (artist.innerHTML = ""));
    document
      .querySelectorAll(".album-upper-artist")
      .forEach((artist, index) => {
        let artistNames = [];
        if (
          newReleases.albums.items[index + randomNumber] &&
          newReleases.albums.items[index + randomNumber].artists
        ) {
          artistNames = newReleases.albums.items[
            index + randomNumber
          ].artists.map((artist) => artist.name);
          if (artistNames.length > 14) {
            artistNames = artistNames.slice(0, 14);
            artistNames.push("...");
          }
        }
        artist.innerHTML += artistNames.join(", ");
      });
  }
</script>
