<div class="w-full flex-start xl:mt-0 max-2xl:mt-0 lg:mt-[350px] md:mt-[250px]">
  <div class="w-[300px]" id="sia-album-text">
    <div class="flex justify-left min-[1600px]:mb-[170px]">
      <a href="/show_results" class="upgrade">scan face</a>
    </div>
    <div class="flex items-center justify-between">
      <h2 class="song-album-name">Sia Album</h2>
      <div class="rating">
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-slate-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-slate-500"></i
        ></span>
      </div>
    </div>
    <div class="mt-2">
      <p class="song-album-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolorum
        aliquam inventore consequatur porro eveniet eius nam, suscipit autem
        deleniti quo.
      </p>
      <!-- <div class="loader-section-container">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div> -->
      <a href="#" class="outline_btn_w_according mt-3">VIEW MORE</a>
    </div>
  </div>
</div>
<script src="{{url_for('static',filename='js/first-section.js')}}" defer></script>
