<div class="w-full flex-start xl:mt-0 max-2xl:mt-0 lg:mt-[350px] md:mt-[250px]">
  <div class="w-[300px]" id="sia-album-text">
    <div class="flex justify-left min-[1600px]:mb-[170px]">
      <a href="/show_results" class="upgrade">scan face</a>
    </div>
    <div class="flex items-center justify-between">
      <h2 class="song-album-name">Sia Album</h2>
      <div class="rating">
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-slate-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-slate-500"></i
        ></span>
      </div>
    </div>
    <div class="mt-2">
      <p class="song-album-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolorum
        aliquam inventore consequatur porro eveniet eius nam, suscipit autem
        deleniti quo.
      </p>
      <div class="loader-section-container">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
      <a href="#" class="outline_btn_w_according mt-3">VIEW MORE</a>
    </div>
  </div>
</div>
<script>
  var artistBio = [];

  const loader = document.querySelector(".loader-section-container");
  loader.style.display = "none"; // Show the loader

  const artistData = async (artistName) => {
    artistName = artistName.split(" ").join("+");
    try {
      loader.style.display = "block"; // Show the loader
      const response = await fetch(
        `https://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=${artistName}&api_key=a6430db72689041eaecff4ca70a70c00&format=json`
      );
      const data = await response.json();
      artistBio.push(data.artist.bio.summary);

      console.log("some data ", data);
      const bio = artistBio[0];

      const artistBioElement = document.querySelector(
        ".song-album-description"
      );
      artistBioElement.innerHTML = "";

      console.log("artist bio", bio);

      artistBioElement.innerHTML = bio.substring(0, 220);
    } catch (error) {
      console.error(error);
    } finally {
      loader.style.display = "none";
    }
  };
</script>
