<div class="w-full flex-start xl:mt-0 max-2xl:mt-0 lg:mt-[350px] md:mt-[250px]">
  <div class="w-[300px]" id="sia-album-text">
    <div class="flex justify-left min-[1600px]:mb-[170px]">
      <a href="/show_results" class="upgrade">scan face</a>
    </div>
    <div class="flex items-center justify-between">
      <h2 class="song-album-name">Sia Album</h2>
      <div class="rating">
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-yellow-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-slate-500"></i
        ></span>
        <span
          ><i class="fa-solid fa-star xl:text-[14px] text-slate-500"></i
        ></span>
      </div>
    </div>
    <div class="mt-2">
      <p class="song-album-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolorum
        aliquam inventore consequatur porro eveniet eius nam, suscipit autem
        deleniti quo.
      </p>
      <!-- <div class="loader-section-container">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div> -->
      <a href="#" class="outline_btn_w_according mt-3">VIEW MORE</a>
    </div>
  </div>
</div>
<script>
  var artistBio = [];

  // const loader = document.querySelector(".loader-section-container");
  // loader.style.display = "none"; // Show the loader

  var artistData = async (artistName) => {
    artistName = artistName.split(" ").join("+");
    // loader.style.display = "block"; // Show the loader
    let response = await fetch(
      `https://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=${artistName}&api_key=a6430db72689041eaecff4ca70a70c00&format=json`
    );
    let data = await response.json();
    artistBio.push(data.artist.bio.summary);

    // console.log("some data ", data);
    let bio = artistBio[0];

    let artistBioElement = document.querySelector(".song-album-description");
    artistBioElement.innerHTML = "";

    if (true) {
      artistBioElement.innerHTML = bio.substring(0, 220);
    } else {
      artistBioElement.innerHTML = "Sorry no bio available for this artist.";
      artistBioElement.style.fontSize = "1.1rem";
      artistBioElement.style.lineHeight = "1.5";
    }
    console.log("bio", bio);

    // } catch (error) {
    //   console.error(error);
    // }
    // } finally {
    //   // loader.style.display = "none";
    // }
  };
  function displayArtistName(currentlyPlaying) {
    const artistNameElement = document.querySelector(".song-album-name");
    const audioPlayerArtistName = document.querySelector(".song-author");
    audioPlayerArtistName.innerHTML = "";
    artistNameElement.innerHTML = "";

    const artistName = currentlyPlaying.item.artists[0].name;
    if (artistName.length > 10 && artistName.length < 15) {
      artistNameElement.style.fontSize = "1.2rem";
    } else if (artistName.length > 15) {
      artistNameElement.style.fontSize = "1rem";
    }
    artistNameElement.innerHTML = artistName;
    audioPlayerArtistName.innerHTML = artistName;
  }

  function displayCurrentSongName(currentlyPlaying) {
    const currentSongElement = document.querySelectorAll(".song-title");

    currentlyPlaying.innerHTML = "";
    const songName = currentlyPlaying.item.name;
    currentSongElement.forEach(
      (currentSong) => (currentSong.innerHTML = songName)
    );
  }

  function displayArtistImage(currentArtist) {
    const artistImageElement = document.querySelectorAll(
      ".left-audio-player-img"
    );
    const artistImage = document.querySelector(".author-image");
    const mainImage = document.querySelector(".main");
    artistImageElement.forEach((artistImage) => (artistImage.innerHTML = ""));

    const artistUrl = currentArtist;

    artistImage.style.backgroundImage = `url(${artistUrl})`;
    mainImage.style.backgroundImage = `url(${artistUrl})`;
    artistImageElement.forEach(
      (artistImage) =>
        (artistImage.innerHTML = `
      <img
            src="${artistUrl}"
            class="bottom-player-artist-image"
            alt="singer_image"
          />`)
    );
  }
</script>
