<nav class="flex-between w-full 2xl:mb-5 xl:mb-3 2xl:pt-6 xl:pt-2">
    <div class="flex">
        <a href="" class="flex flex-center items-center logo-link">
            <img src="../static/assets/images/websiteLogoBgRemoved-1.png" alt="" class="xl:w-[60px] w-[65px]" />
        </a>
        <a href="/" class="flex flex-center items-center mx-4 library-btn">
            <p class="logo_text">Your Library</p>
        </a>
        <span class="flex flex-center items-center mx-4 playlist-btn" style="cursor: pointer;">
            <p class="logo_text">Playlists</p>
        </span>
    </div>
    <!-- {/* Desktop Navigation */} -->


    <div class="right-navigation-container">
        <div x-cloak class="w-full flex flex-center  gap-3 md:gap-8"
            :class="desktopNavSearchopen ? ' items-start' : 'items-center'">
            {% include 'desktop/navbar-search-input.html' %}
            <!-- dropdown menu -->
            <div x-data="{
            dropdownOpen: false
        }" class="relative">

                <button @click="dropdownOpen=true, desktopNavSearchopen=false"
                    class="flex items-center justify-center transition-colors focus:outline-none disabled:opacity-50 disabled:pointer-events-none dropdownBtn">
                    <i class="fa-solid fa-ellipsis rounded-full text-2xl xl:text-xl text-white"></i></button>

                <div x-show="dropdownOpen" @click.away="dropdownOpen=false" x-transition:enter="ease-out duration-200"
                    x-transition:enter-start="-translate-y-2" x-transition:enter-end="translate-y-0"
                    class="absolute top-0 w-56 mt-12 right-full" x-cloak>
                    <div
                        class="p-1 mt-1 z-[999999] text-sm bg-[#2C2F35] border rounded-md shadow-sm shadow-black border-[#2C2F35] text-white">
                        <a href="#_" @click="menuBarOpen=false"
                            class="relative flex justify-between w-full cursor-default select-none group items-center rounded px-2 py-1.5 hover:bg-[#fff] hover:text-black outline-none data-[disabled]:opacity-50 data-[disabled]:pointer-events-none">
                            <span>Account</span>
                            <span
                                class="ml-auto text-xs tracking-widest text-neutral-400 group-hover:text-black">⌘A</span>
                        </a>
                        <a href="#_" @click="menuBarOpen=false"
                            class="relative flex justify-between w-full cursor-default select-none group items-center rounded px-2 py-1.5 hover:bg-white hover:text-neutral-900 outline-none data-[disabled]:opacity-50 data-[disabled]:pointer-events-none">
                            <span>Profile</span>
                            <span
                                class="ml-auto text-xs tracking-widest text-neutral-400 group-hover:text-neutral-600">⌘P</span>
                        </a>
                        <!-- Era of Songs -->

                        <div class="h-px my-1 -mx-1 bg-neutral-200"></div>
                        <div class="relative w-full group">
                            <div
                                class="flex cursor-default select-none items-center rounded px-2 hover:bg-white hover:text-black py-1.5 outline-none">
                                <span>Era of Songs</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="w-4 h-4 ml-auto">
                                    <polyline points="9 18 15 12 9 6"></polyline>
                                </svg>
                            </div>
                            <div data-submenu
                                class="absolute top-0 right-0 invisible mr-1 duration-200 ease-out translate-x-full opacity-0 group-hover:mr-0 group-hover:visible group-hover:opacity-100">
                                <div
                                    class="z-[999999] min-w-[8rem] overflow-hidden rounded-md border shadow-sm shadow-black border-[#2C2F35] bg-[#2C2F35] p-1 animate-in slide-in-from-left-1 w-48">

                                    <div x-data="{ contextMenuPeople: 'adam', eras: ['2020s', '2010s', '2000s', '1990s', '1980s', '1970s', '1960s', '1950s'] }"
                                        class="relative">
                                        <template x-for="(era, index) in eras" :key="index">
                                            <div @click="contextMenuPeople=era.toLowerCase(); contextMenuOpen=false"
                                                class="relative flex cursor-default select-none items-center rounded py-1.5 pl-8 pr-2 hover:bg-neutral-100 hover:text-black outline-none data-[disabled]:opacity-50">
                                                <span x-show="contextMenuPeople == era.toLowerCase()"
                                                    class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="w-2 h-2 fill-current">
                                                        <circle cx="12" cy="12" r="10"></circle>
                                                    </svg></span>
                                                <span x-text="era"></span>
                                            </div>
                                        </template>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End of Era of Songs -->

                        <!-- Type of Songs -->
                        <div class="relative w-full group">
                            <div
                                class="flex cursor-default select-none items-center rounded px-2 hover:bg-white hover:text-black py-1.5 outline-none">
                                <span>Songs Types</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="w-4 h-4 ml-auto">
                                    <polyline points="9 18 15 12 9 6"></polyline>
                                </svg>
                            </div>
                            <div data-submenu
                                class="absolute z-[999999] top-0 right-0 invisible mr-1 duration-200 ease-out translate-x-full opacity-0 group-hover:mr-0 group-hover:visible group-hover:opacity-100 overflow-y-scroll overflow-x-hidden">
                                <div x-data="{ 
                                    contextMenuPeople: 'adam', 
                                    eras: ['Hindustani Classical', 'Carnatic Classical', 'Bollywood Songs', 'Devotional Music (Bhajans)', 'Devotional Music (Sufi Music)', 'Folk Music (Bhangra)', 'Folk Music (Rajasthani Folk)', 'Indi-pop', 'Qawwali', 'Ghazals', 'Pakistani Film Music', 'Folk Music (Punjabi Folk)', 'Folk Music (Balochi Folk)', 'Modern Pakistani Pop', 'Sufi Music (Kafi)', 'Sufi Music (Sufi Rock)']
                                }">
                                    <div class="min-w-[8rem] rounded-md border shadow-sm shadow-black border-[#2C2F35] bg-[#2C2F35] p-1 animate-in slide-in-from-left-1 w-48 h-96 z-[999999] overflow-y-auto">
                                        <div class="relative">
                                            <template x-for="(song, index) in eras" :key="index">
                                                <div @click="contextMenuPeople=song.toLowerCase(); contextMenuOpen=false" class="relative flex cursor-default select-none items-center rounded py-1.5 pl-8 pr-2 hover:bg-neutral-100 hover:text-black outline-none data-[disabled]:opacity-50">
                                                    <span x-show="contextMenuPeople == song.toLowerCase()" class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-2 h-2 fill-current">
                                                            <circle cx="12" cy="12" r="10"></circle>
                                                        </svg>
                                                    </span>
                                                    <span x-text="song"></span>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End of the of songs -->

                        <!-- Languages of Songs -->
                        <div class="relative w-full group">
                            <div
                                class="flex cursor-default select-none items-center rounded px-2 hover:bg-white hover:text-black py-1.5 outline-none">
                                <span>Songs Languages</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="w-4 h-4 ml-auto">
                                    <polyline points="9 18 15 12 9 6"></polyline>
                                </svg>
                            </div>
                            <div data-submenu
                                class="absolute top-0 right-0 invisible mr-1 duration-200 ease-out translate-x-full opacity-0 group-hover:mr-0 group-hover:visible group-hover:opacity-100">
                                <div
                                    class="z-50 min-w-[8rem] overflow-hidden rounded-md border shadow-sm shadow-black border-[#2C2F35] bg-[#2C2F35] p-1 animate-in slide-in-from-left-1 w-48">

                                    <div
                                        x-data="{ languages: ['Urdu', 'English', 'Spanish', 'French', 'German', 'Italian', 'Portuguese', 'Japanese', 'Korean', 'Chinese', 'Russian', 'Arabic', 'Dutch', 'Swedish', 'Norwegian', 'Danish'] }">
                                        <template x-for="(language, index) in languages" :key="index">
                                            <div x-data="{ showDetails: false }" @click="showDetails = !showDetails"
                                                class="relative flex cursor-default select-none items-center rounded py-1.5 pl-8 pr-2 hover:bg-neutral-100 hover:text-black outline-none data-[disabled]:opacity-50">
                                                <span x-show="showDetails"
                                                    class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="w-4 h-4">
                                                        <polyline points="20 6 9 17 4 12"></polyline>
                                                    </svg></span>
                                                <span x-text="language"></span>
                                            </div>
                                        </template>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Languages of Songs -->

                        <div @click="contextMenuOpen=false"
                            class="relative flex cursor-default select-none items-center rounded px-2 py-1.5 hover:bg-neutral-100 hover:text-black text-sm outline-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50">
                            Update</div>
                        <div class="h-px my-1 -mx-1 bg-neutral-200"></div>
                        <div @click="contextMenuOpen=false"
                            class="relative flex cursor-default select-none items-center rounded px-2 py-1.5 hover:bg-neutral-100 hover:text-black text-sm outline-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50">
                            Logout</div>

                    </div>
                </div>
            </div>
            <!-- end dropdown menu -->

            <div id="profile-name-container">
                <div id="profile-name-icon">
                    <i class="fa-solid fa-user text-[12.9px] text-white"></i>
                </div>
                <a href="#" class="profile-name text-[#bdc0c0]">ehtishamfarman</a>
            </div>

        </div>
    </div>
    <!-- {/* mobile navigation */} -->
    <div class="sm:hidden flex relative">
        <div>
            <button type="button" class="black_btn">Sign In</button>
        </div>
</nav>
</nav>
<!-- Navigation end -->


{% include 'desktop/all-playlists.html' %}
<script>
    // const playlistBtn = document.querySelector(".playlist-btn");
    // const playlistHeader = document.querySelector(".playlist-header");

    // playlistBtn.addEventListener("click", () => {
    //   playlistHeader.style.display = "fixed";
    // });
</script>
<script src="{{url_for('static',filename='js/navbar.js')}}" defer></script>