<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.11.0.min.js"
  defer
></script>
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
  defer
></script>
<!-- <script src="./slick.min.js" defer></script>
<script src="./slick-setting.js" defer></script>
<script src="../static/fontawesome/js/all.min.js" defer></script>
<script src="./animation.js" defer></script>
<script src="./mobile-animation.js" defer></script>
<script src="./scroll-animation.js" defer></script> -->

<!-- for python scan recongiton execution -->
<script src="{{url_for('static',filename='animation.js')}}" defer></script>
<script src="{{url_for('static',filename='connect.js')}}" defer></script>
<script src="{{url_for('static',filename='slick.min.js')}}" defer></script>
<script src="{{url_for('static',filename='slick-setting.js')}}" defer></script>
<script
  src="{{url_for('static',filename='fontawesome/js/all.min.js')}}"
  defer
></script>
<!-- <script src="{{url_for('static',filename='mobile-animation.js')}}" defer></script> -->
<script
  src="{{url_for('static',filename='scroll-animation.js')}}"
  defer
></script>
<!-- <script src="{{url_for('static',filename='audioPlayer.js')}}" charset="utf-8" defer></script> -->
<!-- <script src="./audioPlayer.js" charset="utf-8" defer></script> -->
<!-- Spotify API -->

<script src="https://sdk.scdn.co/spotify-player.js"></script>
