<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/assets/favicons/favicon.ico" type="image/x-icon" />

    <title>Mood Wave</title>
    <style>
        [x-cloak] {
            display: none;
        }
    </style>
    <!-- <script src="../static/alpine.js" defer></script>
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="./slick/slick/slick.css">
    <link rel="stylesheet" href="./slick/slick/slick-theme.css">
    <link rel="stylesheet" href="../static/output.css" />
    <link rel="stylesheet" href="../static/audio-controls.css">
    <link rel="stylesheet" href="../static/scrollbar-style.css">
    <link rel="stylesheet" href="../static/animation.css"> -->

    <!-- for python execution -->
    <script src="{{url_for('static',filename='alpine.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static',filename='fontawesome/css/all.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='slick/slick/slick.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='slick//slick/slick-theme.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='audio-controls.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='scrollbar-style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='animation.css')}}" />
</head>