<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}" />
    <title>Emotion Detection</title>
    <!-- <link rel="stylesheet" href="./styles.css" /> -->

    <script>
      async function connectToSpotify() {
        const clientId = "23ab69c678df492d958a9220fb60bfe9";
        const redirectUri = "http://localhost:5000/callback";
        const scope =
          "playlist-read-private user-top-read user-read-private user-read-email user-read-recently-played user-read-currently-playing user-modify-playback-state user-read-playback-state streaming playlist-modify-public playlist-modify-private ugc-image-upload"; // Add additional scopes if needed

        const authUrl = `https://accounts.spotify.com/authorize?client_id=${clientId}&redirect_uri=${redirectUri}&scope=${encodeURIComponent(
          scope
        )}&response_type=token`;

        localStorage.setItem("sessionStartTime", Date.now());

        window.location.href = authUrl;
      }
      function redirectAfterVideo() {
        setTimeout(function () {
          connectToSpotify();
        }, 5000); // Redirect after 5 seconds
      }
    </script>
  </head>

  <body onload="redirectAfterVideo()">
    <!-- Your existing HTML content -->
    <div
      class="flex justify-center items-center align-middle h-screen text-center w-full"
    >
      <!-- <h1 class="bg-gray-500 text-5xl">Emotion Detection</h1> -->
      <div>
        <img
          src="{{ url_for('video_feed') }}"
          alt="Emotion Detection"
          style="width: 1200px; height: 800px; margin: 0 auto"
        />
      </div>
    </div>
  </body>
</html>
